# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
*.vrb
*.xdv

# minted (Pygments cache)
_minted-*/
*.pyg
*.pytxcode

# BibTeX / Biber extras
*-blx.bib
